body {
    background-color: #FFF;
    font-family: "Inter", sans-serif;
    color: #4f5966;
  }
  
  ul,
  ol {
    list-style-type: none;
  }
  .logo {
    font-weight: 700;
    margin-top: 2rem;
    color: #004467;
}
  .nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    height: 12vh;
  }
.div-content{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
}

.content-img{
    width: 90%;
    height: 250px;
}
.btn-agregar {
    background: #737cfd;
    color: #fff;
    border-color: #a0a5e6;
    border-radius: 5%;
    display: block;
    width: 40%;
    height: auto;
    font-weight: 600;
}
.btn-agregar:hover {
    background: #a0a5e6;
    border-color: #737cfd;
}
.content-price{
 color: rgb(154, 152, 152);
 font-weight: 600;
 font-size: 12pt;
}
.content-name {
    margin-top: 1.2rem;
    font-weight: 600;
}
.modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    left: 7%;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 13vh;
    scrollbar-color: none;
    background: #737cfd;
    color: #fff;
    border-radius: 20px;
    padding: 3rem;
}
.modal-header-button {
    position: absolute;
    right: 10%;
    background: red;
    padding: 0.3rem;
    border-radius: 10px;
}

modal-container::-webkit-scrollbar{
    display: none;
}

.modal-header{
    display: flex;
    justify-content:space-around;
    width: 100%;
}

.modal-hrader-title {
    justify-self: start;
}

.modal-container > .modal-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.totalCoti{
    font-size: 14pt;
    padding:20px;
    text-align: center;
    padding-top: 20px;
}

.borrar-product{
    cursor: pointer;
}

.cantidad-carrito {
    height: 30px;
    width: 30px;
    background-color: #004467;
    color: #fff;
    border-radius: 50%;
    font-weight: 600;
    font-size: 13.5pt;
    padding-left: 10px;
    position: absolute;
    margin-left: 20px;
}
.sumar {
    cursor: pointer;
}
.restar {
    cursor: pointer;
}